<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"
          name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>CD Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<div>
    <div class="row justify-content-center mt-5">
        <div class="text-center">
            <h1  th:text="'Albums for ' + ${Artist}"></h1>
        </div>
        <div class="col-md-6 list-group ps-5 mt-5 w-25">
<!--            <tr th:each="title: ${titles}">-->
<!--                <td class="list-group-item list-group-item-action list-group-item-success" th:text="${title}"/>-->
<!--            </tr>-->
            <tr th:each="title: ${titles}">
                <a th:href="@{/home}" class="list-group-item list-group-item-action list-group-item-success"> <td th:text="${title}" /></a>
            </tr>
        </div>
    </div>
</div>
</body>
</html>